* {
	background: #6E6E6E;
}
body {
	margin: 0;
	padding: 0;
	padding-left:200px;
	font: 16px "Helvetica neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}
a {
    color: #E5DFC5;
		background-color: transparent;
}
a:visited {
    color: #E5DFC5;
}
header, footer {
	border: 0.1em solid #040404;

	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	padding: 0 0.5em;
	background-color: #3F3F3F;
	font-size: 16px;
	line-height: 2em;
	height: 60px;
	color: #fff;
	padding-left: 2em;
}
header {
	font-weight: bold;
}
header > a:last-child {
	float: right;
	color: #fff;
	font-weight: normal;
}
footer {
	top: auto;
	bottom: 0;

}
input {
	height: 1.5em;
	font-size: 14px;
}
#testlist {
	margin: 2.5em 0.5em;
	list-style: none;
	width:100%;
	height:100%;
}
.sidebar {
	border-radius: 1em;
	border: 0.1em solid #040404;
	position:fixed;
	height:7em;
	width:11em;
	top:10;
	left:0;
	background:#E46A6B;
	padding-top: 2em;
	padding-left: 1em;
	overflow: auto;
}
.content, .sidebar {
	margin-top: 5em;
	margin-top: 5em;
}

.content {
	background:#6E6E6E;
	width:80%;
	height:80%;
	position:fixed;
	padding-right: 4em;
	margin-right: 4em;
	overflow: auto;
}
